body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    font-weight: bold;
}

.chart-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.upload-form {
    margin-top: 20px;
}

.upload-form h2 {
    margin-top: 0;
}

.upload-form form {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form textarea,
.upload-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-form button {
    background-color: #333;
    color: #f2f2f2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-form button:hover {
    background-color: #555;
}

.gyro-data {
    margin-top: 20px;
}

.gyro-data h2 {
    margin-top: 0;
}

.gyro-data p {
    margin: 5px 0;
}